.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* modal container */
.modal {
  border-radius: 40px;
  padding: 64px 20px;
  width: 100%;
  max-width: 335px;
  background-color: var(--color-scheme-background);
  position: relative;
}

.open {
  animation: scale-in-center 0.3s forwards;
}

.close {
  animation: scale-out-center 0.3s forwards;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
  margin-bottom: 48px;
}

.addDiaryEntryModalTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
  margin-bottom: 20px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.closeIcon {
  stroke: black;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 64px 32px;
    max-width: 706px;
  }

  .closeBtn {
    top: 32px;
    right: 32px;
  }

  .addDiaryEntryModalTitle {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
    max-width: 768px;
  }

  .title {
    font-size: 48px;
  }

  .addDiaryEntryModalTitle {
    font-size: 48px;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
